.line-through {
    /* color: blue;
    opacity: 0.5;
    font-style: italic; */
    text-decoration: line-through;
}

.list {
    list-style: none;
    color: red
}

.h3Goal {
    text-decoration: line-through;
}

.collapse.navbar-collapse{
    background: url("https://i.imgur.com/do73SsO.jpg")!important;
    text-align: right;
    color:blue !important 
}